@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}
:root {
  --primary-color: #191a23;
  --secondary-color: #b9ff66;
  --tertiary-color: #f3f3f3;
  --quaternary-color: #ffffff;
}

body {
  padding: 30px 100px 0px 100px;
  min-height: 100vh;
}

header {
  min-height: 10vh;
  display: flex;
  gap: 120px;
  align-items: center;
}
.logo {
  display: flex;
  flex-grow: 1;
}
.logo > img {
  max-width: 160px;
  min-width: 100px;
}
.navbar {
  flex-grow: 1;
  height: 100%;
}

.navbar > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.navbar > ul > li:last-child {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px;
}

.navbar > ul > li:last-child:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--secondary-color);
}

#hero {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.hero-info {
  flex-basis: 40%;
  align-content: center;
}

.hero-info h1 {
  font-size: 50px;
  padding: 0px 40px 40px 0px;
}
.hero-info p {
  padding: 0px 40px 40px 0px;
}

.hero-info button {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  padding: 15px 20px;
  border-radius: 10px;
}

.hero-info button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hero-img img {
  width: 100%;
}

.hero-brands {
  width: 95%;
}

.hero-brands > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  filter: grayscale();
}
.hero-brands > ul > li > a > img {
  max-height: 35px;
}

.services-intro {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services-intro h2 {
  max-width: 30%;
  background-color: var(--secondary-color);
  border-radius: 5px;
  align-content: center;
  font-size: 28px;
  padding: 2px 6px;
}

.services-intro p {
  max-width: 55%;
}

.services-cards {
  max-height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

article {
  border: 1px solid var(--primary-color);
  border-radius: 45px;
  box-shadow: 0px 3px var(--primary-color);
  max-width: 40%;
  height: 20%;
}

span {
  border-radius: 10px;
}
.card-one,
.card-four {
  background-color: var(--tertiary-color);
  padding: 20px;
  display: flex;
  gap: 30px;
  /* max-width: 40%;
  max-height: 30%; */
}

.card-one > .card-info > h3 > span,
.card-four > .card-info > h3 > span {
  background-color: var(--secondary-color);
}

.card-two,
.card-five {
  background-color: var(--secondary-color);
  padding: 20px;
  display: flex;
  gap: 30px;
  max-width: 40%;
  height: 30%;
}

.card-two > .card-info > h3 > span,
.card-five > .card-info > h3 > span {
  background-color: var(--quaternary-color);
}
.card-three,
.card-six {
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  gap: 30px;
  max-width: 40%;
  height: 30%;
}

.card-three > .card-info > h3 > span,
.card-six > .card-info > h3 > span {
  background-color: var(--quaternary-color);
}

.card-three > .card-info > a,
.card-six > .card-info > a {
  color: var(--quaternary-color);
}

.card-info,
.card-img {
  max-width: 210px;
  max-height: 180px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
  padding: 10px 15px;
}

.card-info h3 {
  font-size: 20px;
}

.card-info a {
  font-size: 12px;
}
.card-icon {
  max-width: 20px;
  vertical-align: middle;
  padding-right: 10px;
}
.card-img {
  padding: 10px 15px;
  border: 2px blue solid;
}
.card-img > img {
  width: 100%;
  max-width: 190px;
  max-height: 190px;
  filter: grayscale();
}

footer {
  min-height: 10vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  align-content: center;
  font-size: 10px;
  margin-top: 80px;
}
footer ul {
  display: flex;
  padding-left: 20px;
  gap: 20px;
  list-style: none;
  align-items: center;
}
footer ul > li > a {
  color: var(--quaternary-color);
  text-decoration: underline;
}
