@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}
:root {
  --primary-color: #191a23;
  --secondary-color: #b9ff66;
  --tertiary-color: #f3f3f3;
  --quaternary-color: #ffffff;
}

body {
  padding: 50px 100px;
}
header {
  display: flex;
  gap: 120px;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo > img {
  max-width: 160px;
  min-width: 100px;
}
.navbar {
  flex-grow: 1;
  height: 100%;
}
.navbar > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
.navbar > ul > li:last-child {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px;
}

#hero {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.hero-info {
  flex-basis: 40%;
  align-content: center;
}

.hero-info h1 {
  font-size: 50px;
  padding: 0px 40px 40px 0px;
}
.hero-info p {
  padding: 0px 40px 40px 0px;
}

.hero-info button {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  padding: 15px 20px;
  border-radius: 10px;
}

.hero-img img {
  width: 100%;
}

.hero-brands {
  width: 95%;
}

.hero-brands > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  filter: grayscale();
}
.hero-brands > ul > li > a > img {
  max-height: 35px;
}
