@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
:root {
  --primary-color: #191a23;
  --secondary-color: #b9ff66;
  --tertiary-color: #f3f3f3;
  --quaternary-color: #ffffff;
}

body {
  padding: 50px;
}
header {
  display: flex;
  gap: 120px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > img {
  max-width: 160px;
  min-width: 100px;
}

.navbar {
  flex-grow: 1;
  height: 100%;
}
.navbar > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
.navbar > ul > li:last-child {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px;
}
